* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #57a788;
  font-family: "Encode Sans Semi Condensed", sans-serif;
  color: #F0F0F0;
}

/*Main Layouts*/

.header {
  background-color: #ddd561;
  padding-left: 0; /* Add this line to reset padding */
  padding-right: 0;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:flex-start;
  height: 100vh;
  padding: 20px 48px 0px;
}

.top-container,
.main-container {
  display: flex;
  justify-content: space-around;
  width: 50%;
  padding: 20px 0px 20px 0px;
}

/*Elements*/

.logo {
  display: flex;
  align-items: center;
  gap: 16px;
}

.logo img {
  width: 68px;
  padding: 4px;
}

.l2-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.l2-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size:larger;
}

.form-container{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 10px;
  text-wrap: wrap;
}

.h-dist-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0px 10px 0px;
}

/*Overriding Bootstrap table-info*/
.table-info {
  --bs-table-color: #000;
  --bs-table-bg: #cbec9f;
  --bs-table-border-color: #C5E898;
  --bs-table-striped-bg: #afd87a;
  --bs-table-striped-color: #000;
  --bs-table-active-bg: #8cac62;
  --bs-table-active-color: #000;
  --bs-table-hover-bg: #9ec072;
  --bs-table-hover-color: #000;
  color: var(--bs-table-color);
  border-color: var(--bs-table-border-color);
}

/*Overriding Bootstrap table-primary*/
.table-primary {
  --bs-table-color: #000;
  --bs-table-bg: #a2d393;
  --bs-table-border-color: #a2d393;
  --bs-table-striped-bg: #9cca8e;
  --bs-table-striped-color: #000;
  --bs-table-active-bg: #92be84;
  --bs-table-active-color: #000;
  --bs-table-hover-bg: #92be84;
  --bs-table-hover-color: #000;
  color: var(--bs-table-color);
  border-color: var(--bs-table-border-color);
}

.btn-stretch{  
  width: 100%; /* Set width to 100% */
  flex-grow: 1;
}

.text-error{
  color: #fffae8;
  background-color: #e08189;
}