* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #213555;
  font-family: "Encode Sans Semi Condensed", sans-serif;
  color: #F0F0F0;
}

.main-container {
  padding: 48px 64px 0px;
}

/*Main Layouts*/

.header {
  background-color: #4F709C;
  padding-left: 0; /* Add this line to reset padding */
  padding-right: 0;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*Elements*/
.logo {
  display: flex;
  align-items: center;
  gap: 16px;
}

.logo img {
  width: 68px;
}